<body>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-xl-9 mx-auto">
        <div class="card flex-row my-5 border-0 shadow rounded-3 overflow-hidden">
          <div class="card-img-left d-none d-md-flex">
          </div>
          <div class="card-body p-4 p-sm-5">
            <h5 class="card-title text-center mb-5 fw-light fs-5">Login</h5>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

              <div class="form-floating mb-3">
                <input type="email" formControlName="email" class="form-control" id="floatingInputEmail" [ngClass]="{
                  'is-invalid':
                    (f.email.invalid && (f.email.touched ||
                    submitted)) ||
                    f.email.errors?.apiError,
                  'is-valid': (f.email.touched || submitted) && !f.email.invalid
                }" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" />
                <div *ngIf="{
                  'is-invalid':
                    (f.email.invalid && (f.email.touched ||
                    submitted)) ||
                    f.email.errors?.apiError,
                  'is-valid': (f.email.touched || submitted) && !f.email.invalid
                }" class="invalid-feedback">
                  <div *ngIf="f?.email?.errors?.required">Name is required</div>
                  <div *ngIf="f?.email?.errors?.pattern">Name must be valid</div>
                </div>
                <label for="floatingInputEmail">Email address</label>
              </div>
              <hr>

              <div class="form-floating mb-3">
                <input formControlName="password" type="password" id="floatingPassword" [ngClass]="{
                  'is-invalid':
                    (f.password.invalid && (f.password.touched ||
                    submitted)) ||
                    f.password.errors?.apiError,
                  'is-valid': (f.password.touched || submitted) && !f.password.invalid
                }" class="form-control" id="exampleInputPassword1" placeholder="Password" />
                <div *ngIf="{
                  'is-invalid':
                    (f.password.invalid && (f.password.touched ||
                    submitted)) ||
                    f.password.errors?.apiError,
                  'is-valid': (f.password.touched || submitted) && !f.password.invalid
                }" class="invalid-feedback">
                  <div *ngIf="f?.password?.errors?.required">Password is required</div>
                </div>
                <label for="floatingPassword">Password</label>
              </div>

              <div class="d-grid mb-2">
                <button class="btn btn-lg btn-primary btn-login fw-bold text-uppercase" type="submit">Have an account?
                  Sign In</button>
              </div>

              <a class="d-block text-center mt-2 small" type="submit" [routerLink]="['/admin/register']">Not an account? Sign
                Up</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>