<nav ngxNavbarDynamicExpand class="navbar-light bg-light">
  <a class="navbar-brand">User Management</a>
  <button class="navbar-toggler" type="button" (click)="collapse.toggle()" aria-controls="main-nav"
    aria-expanded="false" aria-label="Navigáció kapcsoló">
    <span class="navbar-toggler-icon d-flex align-items-center justify-content-center">
    </span>
  </button>
  <ngx-navbar-collapse id="main-nav" #collapse="ngxNavbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [ngClass]="{ 'manu-option-active': routerUrl == '/admin/users' }" href="javascript:void(0)"
          [routerLink]="['/admin/users']">User Listing <span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/admin/users/create']"
          [ngClass]="{ 'manu-option-active': routerUrl == '/admin/users/create' }">Add User</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="logout()" style="float: right;">Logout</a>
      </li>
    </ul>
  </ngx-navbar-collapse>
</nav>