<body>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-xl-9 mx-auto">
        <div class="card flex-row my-5 border-0 shadow rounded-3 overflow-hidden">
          <div class="card-body p-4 p-sm-5">
            <h5 class="card-title text-center mb-5 fw-light fs-5">Register</h5>
            <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">

              <div class="form-floating mb-3">
                <input type="email" formControlName="email" class="form-control" id="floatingInputEmail" [ngClass]="{
                  'is-invalid':
                    (f.email.invalid && (f.email.touched ||
                    submitted)) ||
                    f.email.errors?.apiError,
                  'is-valid': (f.email.touched || submitted) && !f.email.invalid
                }" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" />
                <div *ngIf="{
                  'is-invalid':
                    (f.email.invalid && (f.email.touched ||
                    submitted)) ||
                    f.email.errors?.apiError,
                  'is-valid': (f.email.touched || submitted) && !f.email.invalid
                }" class="invalid-feedback">
                  <div *ngIf="f?.email?.errors?.required">Email is required</div>
                  <div *ngIf="f?.email?.errors?.pattern">Email must be valid</div>
                </div>
                <label for="floatingInputEmail">Email address</label>
              </div>
              <div class="form-floating mb-3">
                <input formControlName="password" type="password" id="floatingPassword" [ngClass]="{
                  'is-invalid':
                    (f.password.invalid && (f.password.touched ||
                    submitted)) ||
                    f.password.errors?.apiError,
                  'is-valid': (f.password.touched || submitted) && !f.password.invalid
                }" class="form-control" id="exampleInputPassword1" placeholder="Password" />
                <div *ngIf="{
                  'is-invalid':
                    (f.password.invalid && (f.password.touched ||
                    submitted)) ||
                    f.password.errors?.apiError,
                  'is-valid': (f.password.touched || submitted) && !f.password.invalid
                }" class="invalid-feedback">
                  <div *ngIf="f?.password?.errors?.required">Password is required</div>
                </div>
                <label for="floatingPassword">Password</label>
              </div>
              <div class="form-floating mb-3">
                <input formControlName="name" type="name" id="exampleInputname1" [ngClass]="{
                    'is-invalid':
                      (f.name.invalid && (f.name.touched || submitted)) ||
                      f.name.errors?.apiError,
                    'is-valid': (f.name.touched || submitted) && !f.name.invalid
                  }" class="form-control" id="exampleInputname1" placeholder="name" />
                <div *ngIf="{
                    'is-invalid':
                      (f.name.invalid && f.name.touched) ||
                      submitted ||
                      f.name.errors?.apiError,
                    'is-valid': (f.name.touched || submitted) && !f.name.invalid
                  }" class="invalid-feedback">
                  <div *ngIf="f?.name?.errors?.required">Name is required</div>
                </div>
                <label for="exampleInputname1">Name</label>
              </div>
              <div class="form-floating mb-3">
                <input formControlName="mobile" type="mobile" [ngClass]="{
                    'is-invalid':
                      (f.mobile.invalid && (f.mobile.touched || submitted)) ||
                      f.mobile.errors?.apiError,
                    'is-valid': (f.mobile.touched || submitted) && !f.mobile.invalid
                  }" class="form-control" id="exampleInputmobile1" placeholder="mobile" />
                <div *ngIf="{
                    'is-invalid':
                      (f.mobile.invalid && (f.mobile.touched || submitted)) ||
                      f.mobile.errors?.apiError,
                    'is-valid': (f.mobile.touched || submitted) && !f.mobile.invalid
                  }" class="invalid-feedback">
                  <div *ngIf="f?.mobile?.errors?.required">Mobile is required</div>
                </div>
                <label for="exampleInputmobile1">Mobile</label>
              </div>
              <div class="form-floating mb-3">
                <div class="d-flex">
                  <div class="form-check form-check-inline">
                    <input [ngClass]="{
              'is-invalid':
                (f.gender.invalid && (f.gender.touched || submitted)) ||
                f.gender.errors?.apiError,
              'is-valid': (f.gender.touched || submitted) && !f.gender.invalid
            }" formControlName="gender" class="form-check-input" type="radio" name="gender" id="inlineRadio1"
                      value="male" />
                    <label class="form-check-label" for="inlineRadio1">Male</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input [ngClass]="{
              'is-invalid':
                (f.gender.invalid && (f.gender.touched || submitted)) ||
                f.gender.errors?.apiError,
              'is-valid': (f.gender.touched || submitted) && !f.gender.invalid
            }" formControlName="gender" class="form-check-input" type="radio" name="gender" id="inlineRadio2"
                      value="female" />
                    <label class="form-check-label" for="inlineRadio2">Female</label>
                  </div>
                  <div *ngIf="{
            'is-invalid':
              (f.gender.invalid && (f.gender.touched || submitted)) ||
              f.gender.errors?.apiError,
            'is-valid': (f.gender.touched || submitted) && !f.gender.invalid
          }" class="invalid-feedback">
                    <div *ngIf="f?.gender?.errors?.required">gender is required</div>
                  </div>
                </div>
              </div>
              <div class="mb-4">
                <label for="exampleInputmobile1">Strength</label>
                <div class="btn btn-primary add-strngth" (click)="addStrngth()" style="float: right;">
                  +
                </div>
              </div>
              <div class="form-floating mb-3" formArrayName="strength"
                *ngFor="let t of strength.controls; let i = index">
                <div [formGroupName]="i" class="input-group">
                  <input formControlName="name" type="name" [ngClass]="{
                      'is-invalid':
                        (strength.controls[i].get('name')?.invalid && (strength.controls[i].get('name')?.touched || submitted)) ||
                        strength.controls[i].get('name')?.errors?.apiError,
                      'is-valid': (strength.controls[i].get('name')?.touched || submitted) && !strength.controls[i].get('name')?.invalid
                    }" class="form-control" id="exampleInputmobile1" placeholder="" />
                  <div class="input-group-btn">
                    <button class="btn btn-danger" type="submit">-</button>
                  </div>
                  <div *ngIf="(strength.controls[i].get('name')?.invalid && (strength.controls[i].get('name')?.touched || submitted)) ||
                        strength.controls[i].get('name')?.errors?.apiError" class="invalid-feedback">
                    <div *ngIf="strength.controls[i].get('name')?.errors?.required">Strength is required</div>
                  </div>
                </div>
              </div>
              <div class="d-grid mb-2">
                <button class="btn btn-lg btn-primary btn-login fw-bold text-uppercase" type="submit">
                  Register</button>
              </div>

              <a class="d-block text-center mt-2 small" type="submit" [routerLink]="['/login']">Have an account? Sign
                In</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>